* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* HEADER */

header {
  min-height: 80px;

  img {
    width: 100px;
    border-radius: 50%;
  }

  h1 {
    background: linear-gradient(90deg, #FFFF, #00D4FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.card {
  width: 400px;
  height: 670px;

  img {
    width: 400px;
    height: 550px;
    object-fit: cover;
  }
}

.card-fm {
  width: 400px;
  height: 500px;
  border: 1px solid black;

  img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
}

.card-details {
  width: 800px;
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 20px;
}


.card-reviews {
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
}