* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* HEADER */

header {
  min-height: 80px;

  img {
    width: 100px;
    border-radius: 50%;
  }

  span {
    background: linear-gradient(90deg, #FFFF, #00D4FF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .return {
    background: linear-gradient(90deg, #00D4FF, #FFFF);
  }

}

/* MAIN */

.card {
  width: 400px;
  height: 670px;
  background-color: white;

  img {
    width: 400px;
    height: 550px;
    object-fit: cover;
  }
}

.card-fm {
  width: 400px;
  height: 500px;
  border: 1px solid black;

  img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
}

.card-details {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}


.card-reviews {
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-form {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}

.cover {
  min-height: 400px;
  background-image: url(./assets/Copertina.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-size: 4rem;
  }
}

.home-bg {
  background-color: rgba(29, 29, 29, 0.859);
}


.details {
  background-color: lightgray;
}

/* FOOTER */

footer {
  min-height: 60px;
}